/* styling for just the footer */


@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap'); /* NASA-style font */


html, body {
  min-height: 100%;
  margin: 0;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  font-family: helvetica, sans-serif;
  background-color: white;
  width: 100vh;
  color: #333;
  padding: 1rem;
  text-align: center;
  margin-top: auto;
}